@keyframes ChangePage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

/* Classes réutilisées dans tous le code*/

.font-inter{
    font-family: 'Inter', sans-serif;
}

.english-version{
    display: none;
    animation-name: ChangePage;
    animation-duration: 2.5s;
}

.french-version{
    animation-name: ChangePage;
    animation-duration: 2.5s;
}

.center{
    margin: auto;
}

.center2{
    text-align: center;
}

.container-flex{
    display: flex;
}

.decoration-none{
    text-decoration: none;
    color: black;
}

/*Header*/

header{
    height: fit-content;
    background-color: white;
}

.logo-nav{
    width: 100px;
}

.btn-english-nav{
    height: 45px;
    margin: 0px;
}
.btn-french-nav{
    height: 50px;
    margin: 0px;
}


.list-style{
    list-style: none;
}

.menu li{
    width: 150px;
    font-size: 0.8rem;
    text-align: center;
}

.menu a{
    width: 150px;
}

.menu{
    background-color: #4f7698af;
    padding: 5px 40px 5px 40px;
}

.header-polygone{
    display: block;
    width: 460px;
    margin: auto;
}

/*A propos*/

.titre{
    font-family: 'Montserrat', sans-serif ;
    font-weight: 700;
    margin: 65px 0px 32px 204px;
}

.contexte{
    font-family: 'Montserrat', sans-serif ;
    font-weight: 500;
    margin: 50px 204px 32px 204px;
    font-size: 0.9rem;
}

.icon{
    width: 234px;
    margin-bottom: 15px;
}

.createurs{
    margin-top: 60px;
}

.job{
    font-weight: 700;
    margin-bottom: 25px;
}

.name{
    margin-bottom: 60px;
}

.container-dev{
    justify-content: space-around;
    width: 530px;
}

.mmi-en-details{
    margin: 30px auto 30px auto;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    border-radius: 13px;
    color: white;
    width: fit-content;
    background-color: #4f7698af;
    padding: 8px 45px 8px 45px;
    box-shadow: rgba(59, 59, 59, 0.623) 10px 5px 5px;
    border: white solid 1px;
}

.mmi-en-details:hover{
    transform: translate(-2px, -2px);
    background-color: #6e9cc5;
    transition: 0.5s;
}

/*Footer*/

.container-liens{
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: space-around;
    text-align: center;
    background-color: #163652;
}

.titre-footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.container-copyright{
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
}

@media screen and (max-width: 550px) {

    /*Header*/
 
 .container-flex{
     flex-direction: column;
 }
 
.space-around{
    align-items: center;
}

.logo-nav{
    width: 50px;
    float: left;
    margin-left: -400%;
    margin-bottom: -100px;
}
 
 
 .btn-english-nav{
     width: 25px;
     height: 25px;
     margin-top: 10px;
 }
 .btn-french-nav{
     width: 25px;
     height: 25px;
     margin-top: 10px;
 }
 
 .menu li{
     width: 150px;
     font-size: 0.7rem;
     text-align: center;
 }
 
 .header-polygone{
     width: 300px;
 }


/*A propos*/

.titre{
    margin: 45px 0px 20px 60px;
}

.contexte{
    margin: 30px 60px 20px 60px;
    font-size: 0.75rem;
}

.icon{
    width: 200px;
    margin-bottom: 10px;
}

.createurs{
    margin-top: 30px;
}

.job{
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.name{
    margin-bottom: 30px;
}

.container-dev{
    justify-content: space-around;
    width: 260px;
}

.mmi-en-details{
    font-size: 0.8rem;
}

/*Footer*/

.container-liens{
    padding-top: 30px;
    padding-bottom: 30px;
}

.titre-footer{
    font-size: 0.7rem;
    margin-bottom: -10px;
}

.text-footer{
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.container-copyright{
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.5rem;
} 

 
}
