@keyframes ChangePage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

/* Classes réutilisées dans tous le code*/

.font-inter{
    font-family: 'Inter', sans-serif;
}

.english-version{
    display: none;
    animation-name: ChangePage;
    animation-duration: 2.5s;
}

.french-version{
    animation-name: ChangePage;
    animation-duration: 2.5s;
}

.center{
    margin: auto;
}

.center2{
    text-align: center;
}

.container-flex{
    display: flex;
}

.decoration-none{
    text-decoration: none;
    color: black;
}

/*Header*/

header{
    height: 100vh;
    background-color: white;
}

.logo-nav{
    width: 100px;
}

.btn-english-nav{
    height: 45px;
}
.btn-french-nav{
    height: 50px;
}

.list-style{
    list-style: none;
}

.menu li{
    width: 150px;
    font-size: 0.8rem;
    text-align: center;
}

.menu a{
    width: 150px;
}

.menu{
    background-color: #4f7698;
    padding: 5px 40px 5px 40px;
}

.header-polygone{
    width: 510px;
}

.titre-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    margin-top: 150px;
    margin-left: 10vw;
    margin-bottom: 35px;
}

.sous-titre-header{
    margin-left: 10vw;
    margin-bottom: 30px;
    font-size: 2.8rem;
    -webkit-text-stroke: black 1.5px;
    color: #4f7698;
}

.texte-header{
    margin-left: 10vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
}

.btn-header{
    width: fit-content;
    padding: 15px;
    background-color: #4f7698;
    color: white;
    border-radius: 8px;
    margin-right: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    box-shadow: rgba(59, 59, 59, 0.623) 10px 5px 5px;
    border: white solid 1px;
}

.btn-header:hover{
    transform: translate(-2px, -2px);
    background-color: #6e9cc5;
    transition: 0.5s;
}

.all-btn-header{
    margin-left: 10vw;
}

/*Div chiffres de la formation*/

.title-chiffres{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 70px;
    margin-bottom: 50px;
}

.div-chiffres{
    justify-content: space-around;
    margin: 0px 50px 0px 50px;
}

.texts-chiffres{
    font-size: 1rem;
    padding-right: 40px;
    text-align: left;
    margin-bottom: 10px;
}

.chiffres{
    margin-top: 15px;
    font-size: 5rem;
    text-align: right;
    margin-bottom: 80px;
}

/*Descriptif formation*/

.descriptif-formation{
    margin: 60px 200px 50px 200px;
}

.all-text-desc-formation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 30px 0px 30px;
}

.titre-desc-formation{
    margin-bottom: 30px;
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.text-desc-formation{
    font-size: 1.1rem;
}

.img-iut{
    border-radius: 15px;
}

/*Dernière actu*/

.derniere-actu{
    margin: 80px 200px 0px 200px;
}

.titre-derniere-actu{
    font-size: 2rem;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.actu-nuit-du-dev{
    margin: 40px 30px 0px 50px;
    align-items: center;
}

.actu-nuit-du-dev-img{
    width: 700px;
    border: solid rgba(0, 0, 0, 0.356) 1px;
    border-radius: 25px;
}

.text-actu-nuit-du-dev{
    margin-left: -50px;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    background-color: #4f7698ba;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    width: 400px;
}

.voir-plus-actu{
    margin: 30px auto 30px auto;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    border-radius: 13px;
    color: white;
    width: fit-content;
    background-color: #4f7698;
    padding: 8px 45px 8px 45px;
    box-shadow: rgba(59, 59, 59, 0.623) 10px 5px 5px;
    border: white solid 1px;
}

.voir-plus-actu:hover{
    transform: translate(-2px, -2px);
    background-color: #6e9cc5;
    transition: 0.5s;
}

/*Projets etudiants*/

.projets-etudiants{
    margin: 80px 0px 50px 0px;
    overflow-x: hidden;
}

.titre-projets-etudiants{
    font-size: 2rem;
    margin-left: 230px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container-parallelogram{
    margin-left: -100px;
    margin-right: -100px;
}

#parallelogram1 {
    width: 900px;
    height: 400px;
    -webkit-transform: skew(-15deg);
       -moz-transform: skew(-15deg);
         -o-transform: skew(-15deg);
    background-image: url(./img/projet1.png);
    border-right: black solid 10px;
    opacity: 0.7;
    transition: 0.5s;
}

#parallelogram1:hover{
    opacity: 1;
    transition: 0.5s;
}

#parallelogram2 {
    width: 900px;
    height: 400px;
    -webkit-transform: skew(-15deg);
       -moz-transform: skew(-15deg);
         -o-transform: skew(-15deg);
    background-image: url(./img/projet2.jpg);
    border-right: black solid 10px;
    opacity: 0.7;
    transition: 0.5s;
}

#parallelogram2:hover{
    opacity: 1;
    transition: 0.5s;
}

#parallelogram3 {
    width: 900px;
    height: 400px;
    -webkit-transform: skew(-15deg);
       -moz-transform: skew(-15deg);
         -o-transform: skew(-15deg);
    background-image: url(./img/projet3.png);
    border-right: black solid 10px;
    opacity: 0.7;
    transition: 0.5s;
}

#parallelogram3:hover{
    opacity: 1;
    transition: 0.5s;
}

.voir-plus-projets{
    margin: 30px auto 30px auto;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    border-radius: 13px;
    color: white;
    width: fit-content;
    background-color: #4f7698;
    padding: 8px 45px 8px 45px;
    box-shadow: rgba(59, 59, 59, 0.623) 10px 5px 5px;
    border: white solid 1px;
}

.voir-plus-projets:hover{
    transform: translate(-2px, -2px);
    background-color: #6e9cc5;
    transition: 0.5s;
}