@keyframes ChangePage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

/* Classes réutilisées dans tous le code*/

.font-inter{
    font-family: 'Inter', sans-serif;
}

.english-version{
    display: none;
    animation-name: ChangePage;
    animation-duration: 2.5s;
}

.french-version{
    animation-name: ChangePage;
    animation-duration: 2.5s;
}

.center{
    margin: auto;
}

.center2{
    text-align: center;
}

.container-flex{
    display: flex;
}

.decoration-none{
    text-decoration: none;
    color: black;
}

/*Header*/

header{
    height: 100vh;
    background-color: white;
}

.logo-nav{
    width: 100px;
}

.btn-english-nav{
    height: 45px;
}
.btn-french-nav{
    height: 50px;
}

.list-style{
    list-style: none;
}

.menu li{
    width: 150px;
    font-size: 0.8rem;
    text-align: center;
}

.menu a{
    width: 150px;
}

.menu{
    background-color: #4f7698af;
    padding: 5px 40px 5px 40px;
}

.header-polygone{
    width: 510px;
}

.titre-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    margin-top: 150px;
    margin-left: 10vw;
    margin-bottom: 35px;
}

.sous-titre-header{
    margin-left: 10vw;
    margin-bottom: 30px;
    font-size: 2.8rem;
    -webkit-text-stroke: black 1.5px;
    color: #4f7698af;
}

.texte-header{
    margin-left: 10vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
}

.btn-header{
    width: fit-content;
    padding: 15px;
    background-color: #4f7698af;
    color: white;
    border-radius: 8px;
    margin-right: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    box-shadow: rgba(59, 59, 59, 0.623) 10px 5px 5px;
    border: white solid 1px;
}

.btn-header:hover{
    transform: translate(-2px, -2px);
    background-color: #6e9cc5;
    transition: 0.5s;
}

.all-btn-header{
    margin-left: 10vw;
}

/*Div chiffres de la formation*/

.title-chiffres{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 70px;
    margin-bottom: 50px;
}

.div-chiffres{
    justify-content: space-around;
    margin: 0px 50px 0px 50px;
}

.texts-chiffres{
    font-size: 1rem;
    padding-right: 40px;
    text-align: left;
    margin-bottom: 10px;
}

.chiffres{
    margin-top: 15px;
    font-size: 5rem;
    text-align: right;
    margin-bottom: 80px;
}

/*Descriptif formation*/

.descriptif-formation{
    margin: 60px 200px 50px 200px;
}

.all-text-desc-formation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 30px 0px 30px;
}

.titre-desc-formation{
    margin-bottom: 30px;
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.text-desc-formation{
    font-size: 1.1rem;
}

.img-iut{
    border-radius: 15px;
}

/*Dernière actu*/

.derniere-actu{
    margin: 80px 200px 0px 200px;
}

.titre-derniere-actu{
    font-size: 2rem;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.actu-nuit-du-dev{
    margin: 40px 30px 0px 50px;
    align-items: center;
}

.actu-nuit-du-dev-img{
    width: 700px;
    border: solid rgba(0, 0, 0, 0.356) 1px;
    border-radius: 25px;
    transition: 0.3s;
}

.actu-nuit-du-dev-img:hover{
    width: 750px;
    transition: 0.3s;
}

.text-actu-nuit-du-dev{
    margin-left: -50px;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    background-color: #4f7698af;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    width: 400px;
}

.voir-plus-actu{
    margin: 30px auto 30px auto;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    border-radius: 13px;
    color: white;
    width: fit-content;
    background-color: #4f7698af;
    padding: 8px 45px 8px 45px;
    box-shadow: rgba(59, 59, 59, 0.623) 10px 5px 5px;
    border: white solid 1px;
}

.voir-plus-actu:hover{
    transform: translate(-2px, -2px);
    background-color: #6e9cc5;
    transition: 0.5s;
}

/*Projets etudiants*/

.projets-etudiants{
    margin: 80px 0px 50px 0px;
    overflow-x: hidden;
}

.titre-projets-etudiants{
    font-size: 2rem;
    margin-left: 230px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container-parallelogram{
    width: 100%;
}

.lien-parallelogram{
    width: 100%;
}

#parallelogram:hover{
    opacity: 1;
    transition: 0.5s;
    transform: rotate(0deg);
}

#parallelogram{
    border-radius: 8px;
    transition: 0.5s;
    margin-left: 20px;
    width: 95%;
    min-height: 180px;
    max-height: 300px;
    margin-bottom: 18px;
    transform: rotate(4deg);
    opacity: 0.7;
}

.voir-plus-projets{
    margin: 30px auto 30px auto;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    border-radius: 13px;
    color: white;
    width: fit-content;
    background-color: #4f7698af;
    padding: 8px 45px 8px 45px;
    box-shadow: rgba(59, 59, 59, 0.623) 10px 5px 5px;
    border: white solid 1px;
}

.voir-plus-projets:hover{
    transform: translate(-2px, -2px);
    background-color: #6e9cc5;
    transition: 0.5s;
}

/*Temoignages*/

.temoignages{
    margin: 100px 250px 50px 250px;
}

.temoignages h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.sous-titre-temoignages{
    text-align: center;
    margin-bottom: 80px;
}

.container-temoignages{
    justify-content: space-between;
}

.temoignage{
    padding: 45px;
    margin: 15px;
    text-align: center;
    width: 350px;
    background-color: #4f7698af;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    border-radius: 8px;
    height: fit-content;
}

.hr-temoignage{
    width: 182px;
    margin: auto;
}

.text-temoignage{
    margin: 33px 7px 33px 7px;
    font-weight: 600;
    font-size: 0.9rem;
}

.auteur-temoignage{
    margin: 25px;
    font-weight: 500;
    letter-spacing: 1.6px;
    font-size: 0.7rem;
}

.metier-auteur{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    margin-top: -20px;
}

/*Footer*/

.container-liens{
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: space-around;
    text-align: center;
    background-color: #163652;
}

.titre-footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.container-copyright{
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
}

@media screen and (max-width: 550px) {

   /*Header*/

.container-flex{
    flex-direction: column;
}

.logo-nav{
    width: 50px;
    float: left;
    margin-left: -30px;
    margin-bottom: -100px;
}

.container-text-header{
    margin-top: -100px;
}

.btn-english-nav{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
.btn-french-nav{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.menu li{
    width: 150px;
    font-size: 0.7rem;
    text-align: center;
}

.header-polygone{
    width: 200px;
}

.titre-header{
    font-size: 3.5rem;
    margin-top: 150px;
    margin-left: 10vw;
    margin-bottom: 20px;
}

.sous-titre-header{
    margin-left: 10vw;
    margin-bottom: 15px;
    font-size: 2rem;
}

.texte-header{
    margin-left: 10vw;
    margin-bottom: 50px;
    font-size: 0.9rem;
}

.btn-header{
    font-size: 0.6rem;
    margin-top: -20px;
}


.all-btn-header{
    margin-left: 10vw;
    flex-direction: row;
}

/*Div chiffres de la formation*/

.title-chiffres{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 35px;
}

.div-chiffres{
    justify-content: space-around;
    margin: 0px 50px 0px 50px;
}

.texts-chiffres{
    font-size: 0.8rem;
    padding-right: 40px;
    text-align: left;
    margin-bottom: 10px;
}

.chiffres{
    margin-top: 10px;
    font-size: 3rem;
    text-align: right;
    margin-bottom: 60px;
}

/*Descriptif formation*/

.descriptif-formation{
    margin: 40px 60px 30px 60px;
}

.all-text-desc-formation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}

.titre-desc-formation{
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.text-desc-formation{
    font-size: 1rem;
}

.img-iut{
    border-radius: 15px;
}

/*Dernière actu*/

.derniere-actu{
    margin: 40px 60px 0px 60px;
}

.titre-derniere-actu{
    font-size: 1.8rem;
    margin-left: 15px;
    margin-bottom: 40px;
}

.actu-nuit-du-dev{
    margin: 0px 0px 20px 0px;
}

.actu-nuit-du-dev-img{
    width: 300px;
}

.actu-nuit-du-dev-img:hover{
    width: 350px;
}

.text-actu-nuit-du-dev{
    margin-left: 0px;
    font-size: 1rem;
    width: fit-content;
}

.voir-plus-actu{
    margin: 50px auto 30px auto;
}

/*Projets etudiants*/

.projets-etudiants{
    margin: 80px 0px 50px 0px;
}

.titre-projets-etudiants{
    font-size: 1.5rem;
    margin-left: 30px;
    margin-bottom: 40px;
}

.container-parallelogram{
    width: 100%;
}

.lien-parallelogram{
    width: 100%;
}

#parallelogram{
    width: 85%;
}

.voir-plus-projets{
    margin: 30px auto 10px auto;
}


/*Temoignages*/

.temoignages{
    margin: 50px 60px 50px 60px;
}

.temoignages h4{
    font-size: 1.9rem;
    margin-bottom: 10px;
}

.sous-titre-temoignages{
    text-align: center;
    margin-bottom: 20px;
}

.container-temoignages{
    align-items: center;
}

.temoignage{
    padding: 30px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    width: 250px;
}

.hr-temoignage{
    width: 150px;
    margin: auto;
}

.text-temoignage{
    margin: 33px 7px 33px 7px;
    font-size: 0.6rem;
}

.auteur-temoignage{
    margin: 25px;
    font-size: 0.5rem;
}

.metier-auteur{
    font-size: 0.5rem;
    margin-top: -20px;
}

/*Footer*/

.container-liens{
    padding-top: 30px;
    padding-bottom: 30px;
}

.titre-footer{
    font-size: 0.7rem;
    margin-bottom: -10px;
}

.text-footer{
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.container-copyright{
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.5rem;
} 
    
}