@keyframes ChangePage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #111111;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.chiffre {
  background-color: #242424;
}

.banner {
  position: relative;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-text {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.banner-title {
  font-size: 3rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.banner-subtitle {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.25);
  -webkit-text-stroke: white 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

nav {
  z-index: 3;
}
/* ------PAGE INDEX------ */
/* Classes réutilisées dans tous le code*/
.index-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 10vh;
}
.rounded-lg {
  border-radius: 1rem !important;
}

.text-small {
  font-size: 0.9rem !important;
}

.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}

.text-uppercase {
  letter-spacing: 0.2em;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.english-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.french-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.center2 {
  text-align: center;
}

.container-flex {
  display: flex;
}

.decoration-none {
  text-decoration: none;
  color: black;
}

/*Header*/

header {
  height: fit-content;
  background-image: linear-gradient(270deg, white, #4d2465);

  /* background-image: linear-gradient(270deg, white, #4d2465); */
  /* /* linear-gradient(to right, grey 1px, transparent 1px), */
}
.list-style a {
  display: flex;
  width: 20%;
  /* height: auto; */
  align-items: center;
}
.logo-nav {
  width: 100px;
}

.btn-english-nav {
  height: 45px;
  margin: 0px;
}
.btn-french-nav {
  height: 50px;
  margin: 0px;
}

.list-style {
  list-style: none;
}
/* .navbar-toggle {
  background-color: white !important;
  border: none;
}
.navbar-toggler-icon {
  background-image: url("./img/menu.png");
}
button:focus .navbar-toggler-icon {
  background-image: url("./img/croix.png");
} */
/* ------- */
.navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.navbar-toggler-icon {
  background-image: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.menu li {
  /* width: 150px; */
  font-size: 0.8rem;
  text-align: center;
}
.menu a {
  width: auto;
  color: white;
}
.navbar {
  z-index: 100;
  background: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(20px) !important;
  position: fixed;
  width: 100%;
}
.navbar-nav {
  /* display: flex; */
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.nav-link {
  color: white !important;
  border-bottom: 3px solid transparent;
}
.active {
  border-bottom: 3px solid white;
}
.menu {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  padding: 5px 40px 5px 40px;
  position: fixed;
  width: 100vw;
}
.container-banner {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
  min-height: 100vh;
  width: 100vw;
}

.container-text-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5vh;
  margin-left: 6%;
  padding-top: 50px;
  height: 75vh;
}
.titre-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 6rem;
  width: 90%;
  color: black;
  z-index: 1000;
}

.sous-titre-header {
  font-size: 4.5vw;
  font-weight: 800;
  -webkit-text-stroke: black 2px;
  color: rgba(255, 255, 255, 0.1);
}

.btn-header {
  width: fit-content;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 8px;
  margin-right: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;
  border: white solid 0.5px;
}

.btn-header:hover {
  transform: translate(-2px, -2px);
  background-color: rgb(68, 68, 68);
  transition: 0.5s;
}
.lien-projets {
  height: 100%;
}
.all-btn-header {
}

/*Div chiffres de la formation*/

.title-chiffres {
  color: white;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.div-chiffres {
  color: white;
  justify-content: space-around;
  margin: 0px 50px 0px 50px;
}

.texts-chiffres {
  font-size: 1rem;
  padding-right: 40px;
  text-align: left;
  margin-bottom: 10px;
}
/*Descriptif formation*/

.descriptif-formation {
  margin: auto;
  gap: 30px;
  align-items: flex-start;
}

.all-text-desc-formation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 30px 0px 30px;
}

.titre-desc-formation {
  margin-bottom: 30px;
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
}

.text-desc-formation {
  font-size: 1.1rem;
}

.img-iut {
  border-radius: 15px;
  /* width: 100%; */
  height: 70vh;
  object-fit: contain;
}
.img-fluid {
  height: 50vh;
  width: auto;
}

/*Dernière actu*/

.derniere-actu {
  margin: 80px 200px 0px 200px;
}

.titre-derniere-actu {
  font-size: 2rem;
  margin-left: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
}

.actu-nuit-du-dev {
  margin: 40px 0px 0px 0px;
  align-items: center;
  justify-content: center;
}

.actu-nuit-du-dev-img {
  width: 700px;
  border: solid rgba(0, 0, 0, 0.356) 1px;
  border-radius: 25px;
  transition: 0.3s;
}

.actu-nuit-du-dev-img:hover {
  width: 750px;
  transition: 0.3s;
}

.text-actu-nuit-du-dev {
  margin-left: -50px;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #575757af;
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
  width: 400px;
}

.voir-plus-actu {
  margin: 30px auto 30px auto;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  border-radius: 13px;
  color: white;
  width: fit-content;
  background-color: #575757af;
  padding: 8px 45px 8px 45px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 25px;
  border: white solid 1px;
}

.voir-plus-actu:hover {
  transform: translate(-2px, -2px);
  background-color: #909090af;
  transition: 0.5s;
}

/*Projets etudiants*/

.projets-etudiants {
  margin: 80px 0px 50px 0px;
  overflow-x: hidden;
}

.titre-projets-etudiants {
  font-size: 2rem;
  margin-left: 230px;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
}

.container-parallelogram {
  width: 100%;
}

.lien-parallelogram {
  width: 100%;
}

#parallelogram:hover {
  opacity: 1;
  transition: 0.5s;
  transform: rotate(0deg);
}

#parallelogram {
  border-radius: 8px;
  transition: 0.5s;
  margin-left: 20px;
  width: 95%;
  min-height: 180px;
  max-height: 300px;
  margin-bottom: 18px;
  transform: rotate(4deg);
  opacity: 0.7;
}

.voir-plus-projets {
  margin: 30px auto 30px auto;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  border-radius: 13px;
  color: white;
  width: fit-content;
  background-color: #575757af;
  padding: 8px 45px 8px 45px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 25px;
  border: white solid 1px;
}

.voir-plus-projets:hover {
  transform: translate(-2px, -2px);
  background-color: #909090af;
  transition: 0.5s;
}

/*Temoignages*/

.temoignages {
  /* margin: 100px 250px 50px 250px; */
  margin: 0 auto;
}

.temoignages h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
}

.sous-titre-temoignages {
  text-align: center;
  margin-bottom: 80px;
}

.container-temoignages {
  justify-content: space-around;
}

.temoignage {
  padding: 45px;
  margin: 15px;
  text-align: center;
  width: 350px;
  background-color: #575757af;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  border-radius: 8px;
  height: fit-content;
}

.hr-temoignage {
  width: 182px;
  margin: auto;
}

.text-temoignage {
  margin: 33px 7px 33px 7px;
  font-weight: 600;
  font-size: 0.9rem;
}

.auteur-temoignage {
  margin: 25px;
  font-weight: 500;
  letter-spacing: 1.6px;
  font-size: 0.7rem;
}

.metier-auteur {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  margin-top: -20px;
}

/*Footer*/

.container-liens {
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-around;
  text-align: center;
  background-color: #353434af;
}

.text-footer {
  color: white;
}

.titre-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.container-copyright {
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
}
@media screen and (max-width: 1476px) {
  .descriptif-formation {
    flex-direction: column;
    width: 50%;
  }
  .all-text-desc-formation {
    margin: 0;
  }
}
@media screen and (max-width: 1261px) {
  /*Dernière actu*/

  .derniere-actu {
    flex-direction: column;
    margin: 40px 60px 0px 60px;
  }

  .titre-derniere-actu {
    font-size: 1.8rem;
    margin-left: 15px;
    margin-bottom: 40px;
  }

  .actu-nuit-du-dev {
    margin: 0px 0px 20px 0px;
  }

  .actu-nuit-du-dev-img {
    width: 300px;
  }

  .actu-nuit-du-dev-img:hover {
    width: 350px;
  }

  .text-actu-nuit-du-dev {
    margin-left: 0px;
    font-size: 1rem;
    width: fit-content;
  }

  .voir-plus-actu {
    margin: 50px auto 30px auto;
  }
}
@media screen and (max-width: 1000px) {
  .container-temoignages {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 865px) {
  .div-chiffres {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 690px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .list-style {
    display: flex;
    /* margin: 60px; */
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .center li {
    width: 100%;
  }
  .center li a {
    width: auto;
  }
}

@media screen and (max-width: 550px) {
  /*Header*/

  .container-flex {
    flex-direction: column;
  }

  .space-around {
    align-items: center;
  }

  .logo-nav {
    width: 50px;
    float: left;
  }

  .container-text-header {
    /* margin-top: -100px; */
  }

  .btn-english-nav {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }
  .btn-french-nav {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }

  .menu li {
    width: 150px;
    font-size: 0.7rem;
    text-align: center;
  }
  /*Div chiffres de la formation*/

  .title-chiffres {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .div-chiffres {
    justify-content: space-around;
    margin: 0px 50px 0px 50px;
  }

  .texts-chiffres {
    font-size: 0.8rem;
    padding-right: 40px;
    text-align: left;
    margin-bottom: 10px;
  }

  /*Descriptif formation*/

  .descriptif-formation {
  }

  .all-text-desc-formation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 20px 0px;
  }

  .titre-desc-formation {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }

  .text-desc-formation {
    font-size: 1rem;
  }

  .img-iut {
    /* border-radius: 15px; */
    /* width: 100%; */
  }

  /*Dernière actu*/

  .derniere-actu {
    margin: 40px 60px 0px 60px;
  }

  .titre-derniere-actu {
    font-size: 1.8rem;
    margin-left: 15px;
    margin-bottom: 40px;
  }

  .actu-nuit-du-dev {
    margin: 0px 0px 20px 0px;
  }

  .actu-nuit-du-dev-img {
    width: 300px;
  }

  .actu-nuit-du-dev-img:hover {
    width: 350px;
  }

  .text-actu-nuit-du-dev {
    margin-left: 0px;
    font-size: 1rem;
    width: fit-content;
  }

  .voir-plus-actu {
    margin: 50px auto 30px auto;
  }

  /*Projets etudiants*/

  .projets-etudiants {
    margin: 80px 0px 50px 0px;
  }

  .titre-projets-etudiants {
    font-size: 1.5rem;
    margin-left: 30px;
    margin-bottom: 40px;
  }

  .container-parallelogram {
    width: 100%;
  }

  .lien-parallelogram {
    width: 100%;
  }

  #parallelogram {
    width: 85%;
  }

  .voir-plus-projets {
    margin: 30px auto 10px auto;
  }

  /*Temoignages*/

  .temoignages {
    margin: 50px 60px 50px 60px;
  }

  .temoignages h4 {
    font-size: 1.9rem;
    margin-bottom: 10px;
  }

  .sous-titre-temoignages {
    text-align: center;
    margin-bottom: 20px;
  }

  .container-temoignages {
    align-items: center;
  }

  .temoignage {
    padding: 30px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    width: 250px;
  }

  .hr-temoignage {
    width: 150px;
    margin: auto;
  }

  .text-temoignage {
    margin: 33px 7px 33px 7px;
    font-size: 0.6rem;
  }

  .auteur-temoignage {
    margin: 25px;
    font-size: 0.5rem;
  }

  .metier-auteur {
    font-size: 0.5rem;
    margin-top: -20px;
  }

  /*Footer*/

  .container-liens {
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .titre-footer {
    font-size: 0.7rem;
    margin-bottom: -10px;
  }

  .text-footer {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .container-copyright {
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.5rem;
  }
}
/* ----------PAGE A  PROPOS----------- */
/* Classes réutilisées dans tous le code*/

.font-inter {
  font-family: "Inter", sans-serif;
}

.about-english-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.about-french-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.center2 {
  text-align: center;
}

.container-flex {
  display: flex;
}

.decoration-none {
  text-decoration: none;
  color: black;
}

/*A propos*/
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.titre {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #4d2465;
  -webkit-background-clip: text;
  background-clip: text;
}
.contexte {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  /* margin: 50px 204px 32px 204px; */
  font-size: 0.9rem;
}
.managers-img {
  display: flex;
  gap: 20px;
}

.icon {
  width: 234px;
  margin-bottom: 15px;
}

.createurs {
  margin-top: 60px;
}

.job {
  background: none;
  font-weight: 700;
  margin-bottom: 25px;
}

.name {
  color: white;
  margin-bottom: 60px;
}

.container-dev {
  justify-content: space-around;
  width: 530px;
}

.mmi-en-details {
  margin: 30px auto 30px auto;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  border-radius: 13px;
  color: white;
  width: fit-content;
  background-color: #575757af;
  padding: 8px 45px 8px 45px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 25px;
  border: white solid 1px;
}

.mmi-en-details:hover {
  transform: translate(-2px, -2px);
  background-color: #909090af;
  transition: 0.5s;
}

/*Footer*/

.container-liens {
  gap: 20px;

  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-around;
  text-align: center;
  background-color: #353434af;
}

.text-footer {
  color: white;
}

.titre-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.container-copyright {
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
}
@media screen and (max-width: 690px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .list-style {
    display: flex;
    /* margin: 60px; */
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .center li {
    width: 100%;
  }
  .center li a {
    width: auto;
  }
}
@media screen and (max-width: 550px) {
  /*Header*/

  .container-flex {
    flex-direction: column;
  }

  .space-around {
    align-items: center;
  }

  .logo-nav {
    width: 50px;
    float: left;
  }

  .btn-english-nav {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }
  .btn-french-nav {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }

  .menu li {
    width: 150px;
    font-size: 0.7rem;
    text-align: center;
  }

  .header-polygone {
    width: 300px;
  }

  /*A propos*/

  .titre {
    margin: 45px 0px 20px 60px;
  }

  .contexte {
    margin: 30px 60px 20px 60px;
    font-size: 0.75rem;
  }

  .icon {
    width: 200px;
    margin-bottom: 10px;
  }

  .createurs {
    margin-top: 30px;
  }

  .job {
    margin-bottom: 20px;
    font-size: 1.1rem;
  }

  .name {
    margin-bottom: 30px;
  }

  .container-dev {
    justify-content: space-around;
    width: 260px;
  }

  .mmi-en-details {
    font-size: 0.8rem;
  }

  /*Footer*/

  .container-liens {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .titre-footer {
    font-size: 0.7rem;
    margin-bottom: -10px;
  }

  .text-footer {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .container-copyright {
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.5rem;
  }
}

/* ----------PAGE ACTU------------- */
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.gr-1 {
  background: linear-gradient(170deg, #01e4f8 0%, #1d3ede 100%);
}
.gr-2 {
  background: linear-gradient(170deg, #b4ec51 0%, #429321 100%);
}
.gr-3 {
  background: linear-gradient(170deg, #c86dd7 0%, #3023ae 100%);
}

.h-100 {
  height: 100vh !important;
}
.align-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.column {
  margin-top: 3rem;
  padding-left: 3rem;
}
.column:hover {
  padding-left: 0;
}
.column:hover .card .txt {
  margin-left: 1rem;
}
.column:hover .card .txt h1,
.column:hover .card .txt p {
  color: white;
  opacity: 0.5;
}
.column:hover a {
  color: white;
}
.column:hover a:after {
  width: 10%;
}
.card {
  min-height: 170px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.05rem;
  font-family: "Oswald", sans-serif;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 25px;
  background-color: rgba(255, 255, 255, 0.5);
}
.card .txt {
  margin-left: -3rem;
  z-index: 1;
}
.card .txt h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
.card .txt p {
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0rem;
  margin-top: 33px;
  opacity: 0;
  color: white;
}
.card a {
  z-index: 3;
  font-size: 0.7rem;
  margin-left: 1rem;
  position: relative;
  bottom: -0.5rem;
  text-transform: uppercase;
}
.card a:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  width: 0;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid rgba(255, 255, 255, 1);
  transition: 0.5s;
}
.card .ico-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card i {
  position: relative;
  right: -50%;
  top: 60%;
  font-size: 12rem;
  line-height: 0;
  opacity: 0.2;
  color: rgba(255, 255, 255, 1);
  z-index: 0;
}

/* ------------------------- */
/* Classes réutilisées dans tous le code*/
.actu-container {
  padding: 0 10%;
}
.actu-container h1 {
  margin-top: 20px;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.actu-english-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.actufrench-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.center2 {
  text-align: center;
}

.container-flex {
  display: flex;
}

.decoration-none {
  text-decoration: none;
  color: black;
}

/*Actu*/
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

/* DEMO 1 ============================== */
.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}

.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
  left: 0;
}

.hover-1:hover .hover-overlay {
  opacity: 0;
}

.container-actus {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 20px 0px 50px 0px;
}

.div-actu {
  width: 80%;
  /* margin: 50px 250px 50px 250px; */
}

.titre-actu {
  font-size: 1.5rem;
  margin-left: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
}

.actu {
  margin: 40px 30px 0px 50px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.actu:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.img-actu {
  width: 80%;
  border: solid rgba(0, 0, 0, 0.356) 1px;
  border-radius: 25px;
  transition: 0.3s;
}

.text-actu {
  margin-left: -50px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #4f7698af;
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
  width: 400px;
}

/*Voir les projets étudiants*/

.projets-etudiants {
  margin: 100px 0px 50px 0px;
  overflow-x: hidden;
}

.titre-projets-etudiants {
  font-size: 2rem;
  margin-left: 230px;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
}

.container-parallelogram {
  width: 100%;
}

.lien-parallelogram {
  width: 100%;
}

#parallelogram:hover {
  opacity: 1;
  transition: 0.5s;
  transform: rotate(0deg);
}

#parallelogram {
  border-radius: 8px;
  transition: 0.5s;
  margin-left: 20px;
  width: 95%;
  min-height: 180px;
  max-height: 300px;
  margin-bottom: 18px;
  transform: rotate(4deg);
  opacity: 0.7;
}

.voir-plus-projets {
  margin: 30px auto 30px auto;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  border-radius: 13px;
  color: white;
  width: fit-content;
  background-color: #575757af;
  padding: 8px 45px 8px 45px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 25px;
  border: white solid 1px;
}

.voir-plus-projets:hover {
  transform: translate(-2px, -2px);
  background-color: #909090af;
  transition: 0.5s;
}

/*Footer*/

.container-liens {
  gap: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-around;
  text-align: center;
  background-color: #353434af;
}

.text-footer {
  color: white;
}

.titre-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.container-copyright {
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
}

@media screen and (max-width: 1430px) {
  .actu {
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .img-actu {
    /* width: 20%; */
  }
}
@media screen and (max-width: 690px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .list-style {
    display: flex;
    /* margin: 60px; */
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .center li {
    width: 100%;
  }
  .center li a {
    width: auto;
  }
}
@media screen and (max-width: 550px) {
  /*Header*/

  .container-flex {
    flex-direction: column;
  }

  .space-around {
    align-items: center;
  }

  .logo-nav {
    width: 50px;
    float: left;
  }

  .btn-english-nav {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }
  .btn-french-nav {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }

  .menu li {
    width: 150px;
    font-size: 0.7rem;
    text-align: center;
  }

  .header-polygone {
    width: 300px;
  }

  /*Actu*/

  .container-actus {
    margin: 40px 60px 0px 40px;
  }

  .div-actu {
    margin: 0px 0px 50px 0px;
  }

  .titre-actu {
    font-size: 1.5rem;
    margin-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: -20px;
  }

  .actu {
    margin: 40px 30px 0px 50px;
    align-items: center;
    transition: 0.5s;
  }
  .actu:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }

  .img-actu {
    width: 300px;
  }

  .img-actu:hover {
    width: 350px;
  }

  .text-actu {
    margin-left: 0px;
    font-size: 1rem;
    width: 250px;
  }

  /*Projets etudiants*/

  .projets-etudiants {
    margin: 80px 0px 50px 0px;
  }

  .titre-projets-etudiants {
    font-size: 1.5rem;
    margin-left: 30px;
    margin-bottom: 40px;
  }

  .container-parallelogram {
    width: 100%;
  }

  .lien-parallelogram {
    width: 100%;
  }

  #parallelogram {
    width: 85%;
  }

  .voir-plus-projets {
    margin: 30px auto 10px auto;
  }

  /*Footer*/

  .container-liens {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .titre-footer {
    font-size: 0.7rem;
    margin-bottom: -10px;
  }

  .text-footer {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .container-copyright {
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.5rem;
  }
}

/* ---------PAGE MATIERES--------- */
/* Classes réutilisées dans tous le code*/

/* Accordeon */
.accordion {
  --bs-accordion-active-bg: none;
}

.accordion-item h2 {
  -webkit-text-fill-color: #4d2465;
  background: rgba(0, 0, 0, 0.5);
}
.accordion-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.accordion-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
}
.accordion-item {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.accordion-body {
  /* display: flex; */

  /* gap: 20px; */
}
.img-subjects {
  /* width: 30vw; */
  height: 30vh;
  object-fit: cover;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.matieres-english-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.matieres-french-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.center2 {
  text-align: center;
}

.container-flex {
  display: flex;
}

.decoration-none {
  text-decoration: none;
  color: black;
}

.container-flex-2 {
  display: flex;
  justify-content: space-between;
}

.flex {
  justify-content: space-between;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}
.container-mat {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.div-mat {
  gap: 20px;
  width: 60%;
  background-color: #4f7698af;
  padding-left: 15px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 20px;
  opacity: 0.7;
  transition: 0.3s;
}

.div-mat:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: 0.3s;
}

.text {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.text-mat {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.img-mat {
  width: 200px;
  min-height: 180px;
  max-height: 230px;
  border-radius: 10px;
  object-fit: cover;
}

/*Voir les actus*/
/* actu projets */
.actu-ptojets {
}

.titre-actus {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  width: auto;
  /* margin: auto; */
  /* margin: 47px 0 50px 200px; */
  margin-left: 10%;
  margin-top: 50px;
}

.container-actus {
  margin: 20px 0px 50px 0px;
}

.div-actu {
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: left;
  /* margin: 50px 250px 50px 250px; */
}

.titre-actu {
  font-size: 1.5rem;
  /* margin-left: 30px; */
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.actu {
  margin: 0 auto;
  width: 70%;
  transition: 0.5s;
}
.actu a {
  width: 100%;
}
.img-actu {
  width: 100%;
  border: solid rgba(0, 0, 0, 0.356) 1px;
  border-radius: 25px;
  transition: 0.3s;
}
.actu:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* .img-actu:hover{
    width: 750px;
    transition: 0.3s;
} */

.text-actu {
  /* margin-left: -50px; */
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #4f7698af;
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
  width: 400px;
}

.voir-plus-actu {
  margin: 30px auto 30px auto;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  border-radius: 13px;
  color: white;
  width: fit-content;
  background-color: #4f7698af;
  padding: 8px 45px 8px 45px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 25px;
  border: white solid 1px;
}

.voir-plus-actu:hover {
  transform: translate(-2px, -2px);
  background-color: #6e9cc5;
  transition: 0.5s;
}

/*Footer*/

.container-liens {
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-around;
  text-align: center;
  background-color: #163652;
}

.titre-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.container-copyright {
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
}

@media screen and (max-width: 1060px) {
  .actu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 831px) {
  .div-mat {
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 690px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .list-style {
    display: flex;
    /* margin: 60px; */
    gap: 20px;
    flex-direction: column;
    align-items: center;
    /* text-align: flex-start; */
  }
  .center {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
  .center li a {
    width: 150px;
  }
}
@media screen and (max-width: 550px) {
  /*Header*/

  .container-flex {
    flex-direction: column;
    gap: 20px;
  }

  .space-around {
    align-items: center;
  }
  .list-style a {
    display: flex;
    width: 20%;
    /* height: auto; */
    align-items: center;
  }

  .logo-nav {
    width: 100px;
    float: left;
    /* margin-left: -400%; */
    /* margin-bottom: -100px; */
  }

  .btn-english-nav {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }
  .btn-french-nav {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }

  .menu li {
    width: 150px;
    font-size: 0.7rem;
    text-align: center;
  }

  .header-polygone {
    width: 300px;
  }

  /*mats*/

  .container-flex-2 {
    display: block;
  }

  .container-mats {
    margin: 40px 60px 0px 40px;
  }

  .div-mat {
    /* margin: 80px 0px 50px 0px; */
  }

  .flex {
    justify-content: space-between;
    flex-direction: row;
  }

  .flex2 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }

  .text {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .text-mat {
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .img-mat {
    width: 150px;
    min-height: 120px;
    max-height: 200px;
    border-radius: 10px;
  }

  /*Voir les actus*/

  .titre-actus {
    font-size: 1.7rem;
    /* margin: 40px 60px 30px 50px; */
  }

  .container-actus {
    margin: 20px 30px 50px 20px;
  }

  .div-actu {
    /* width: 30%; */
    /* margin: 50px 50px 50px 50px; */
  }

  .titre-actu {
    font-size: 1.3rem;
    /* margin-left: 0px; */
  }

  .actu {
    margin: 20px 15px 0px 25px;
    align-items: center;
  }

  .img-actu {
    /* width: 350px; */
  }

  .img-actu:hover {
    /* width: 400px;s */
    /* transition: 0.3s; */
  }

  .text-actu {
    margin-left: 0px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
    background-color: #4f7698af;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    width: 100%;
  }

  .voir-plus-actu {
    margin: 30px auto 30px auto;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    border-radius: 13px;
    color: white;
    width: fit-content;
    background-color: #4f7698af;
    padding: 8px 45px 8px 45px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 25px;
    border: white solid 1px;
  }

  .voir-plus-actu:hover {
    transform: translate(-2px, -2px);
    background-color: #6e9cc5;
    transition: 0.5s;
  }
}
/* --------PAGE PROJETS---------- */
.font-inter {
  font-family: "Inter", sans-serif;
}

.projets-english-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.projets-french-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.center2 {
  text-align: center;
}

.container-flex {
  display: flex;
}

.decoration-none {
  text-decoration: none;
  color: black;
}

.container-projets {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 50px;
}

.projet {
  width: 80%;
  /* margin: 50px 250px 50px 250px; */
  background-color: #575757af;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 17px;
}

.infos {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.nom-projet {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.img-projet {
  width: 100%;
  border-radius: 8px;
  transition: 0.4s;
}

.img-projet:hover {
  transform: rotate(-2.5deg);
  transition: 0.4s;
}

.nomAndImg {
  padding-right: 15px;
  padding-left: 100px;
  justify-content: space-between;
  align-items: center;
}

/*Voir l'équipe enseignante*/

.equipe {
  margin: 100px 0px 50px 0px;
  overflow-x: hidden;
}

.titre-equipe {
  font-size: 2rem;
  margin-left: 230px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.container-parallelogram {
  width: 100%;
}

.lien-parallelogram {
  width: 100%;
}

#parallelogram:hover {
  opacity: 1;
  transition: 0.5s;
  transform: rotate(0deg);
}

#parallelogram {
  border-radius: 8px;
  transition: 0.5s;
  margin-left: 20px;
  width: 95%;
  min-height: 180px;
  max-height: 300px;
  margin-bottom: 18px;
  transform: rotate(4deg);
  opacity: 0.7;
  object-fit: cover;
}

.voir-plus-equipe {
  margin: 30px auto 30px auto;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  border-radius: 13px;
  color: white;
  width: fit-content;
  background-color: #575757af;
  padding: 8px 45px 8px 45px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 25px;
  border: white solid 1px;
}

.voir-plus-equipe:hover {
  transform: translate(-2px, -2px);
  background-color: #909090af;
  transition: 0.5s;
}

/*Footer*/

.container-liens {
  gap: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-around;
  text-align: center;
  background-color: #353434af;
}

.text-footer {
  color: white;
}

.titre-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.container-copyright {
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
}
@media screen and (max-width: 690px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .list-style {
    display: flex;
    /* margin: 60px; */
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .center li {
    width: 100%;
  }
  .center li a {
    width: auto;
  }
}

@media screen and (max-width: 550px) {
  /*Header*/

  .container-flex {
    flex-direction: column;
  }

  .space-around {
    align-items: center;
  }

  .logo-nav {
    width: 50px;
    float: left;
  }

  .btn-english-nav {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }
  .btn-french-nav {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }

  .menu li {
    width: 150px;
    font-size: 0.7rem;
    text-align: center;
  }

  .header-polygone {
    width: 300px;
  }

  /*Projets*/

  .container-projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .projet {
    /* margin: 80px 0px 50px 0px; */
  }

  .titre-projets-etudiants {
    font-size: 1.5rem;
    margin-left: 30px;
    margin-bottom: 40px;
  }

  .container-parallelogram {
    width: 100%;
  }

  .lien-parallelogram {
    width: 100%;
  }

  #parallelogram {
    width: 85%;
  }

  .nom-projet {
    font-size: 1.2rem;
  }
  .projet a {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  .img-projet {
    margin-top: 10px;
    width: 200px;
  }

  .nomAndImg {
    padding-right: 10px;
    padding-left: 10px;
  }

  /*Voir l'équipe enseignante*/

  .equipe {
    margin: 80px 0px 50px 0px;
    overflow-x: hidden;
  }

  .titre-equipe {
    font-size: 1.5rem;
    margin-left: 30px;
    margin-bottom: 40px;
  }

  .container-parallelogram {
    width: 100%;
  }

  .lien-parallelogram {
    width: 100%;
  }

  #parallelogram:hover {
    opacity: 1;
    transition: 0.5s;
    transform: rotate(0deg);
  }

  #parallelogram {
    width: 85%;
  }

  .voir-plus-equipe {
    font-size: 0.8rem;
    padding: 8px 45px 8px 45px;
  }

  /*Footer*/

  .container-liens {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .titre-footer {
    font-size: 0.7rem;
    margin-bottom: -10px;
  }

  .text-footer {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .container-copyright {
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.5rem;
  }
}

/* --------PAGE EQUIPE-------- */
.wrapper .container .row {
  gap: 20px;
}
.card-img-top {
  width: 100%;
  height: 312px;
  object-fit: cover;
}
.ard-body {
  height: 40vh;
}

/* Classes réutilisées dans tous le code*/

.font-inter {
  font-family: "Inter", sans-serif;
}

.equipe-english-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.equipe-french-version {
  animation-name: ChangePage;
  animation-duration: 2.5s;
  background-color: #242424;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  /* width: 100%; */
}

.center2 {
  text-align: center;
}

.container-flex {
  display: flex;
}

.decoration-none {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  flex-direction: column;
  gap: 20px;
}
/*Equipe*/
body h1,
h2 {
  -webkit-background-clip: text;
  background-clip: text;
}
h1 {
  color: white;
}

.container-profs {
  /* margin: 64px 204px 32px 204px; */
  display: flex;
  /* justify-content: space-around; */
  /* flex-wrap: wrap-reverse; */
  width: 80;
  gap: 20px;
  /* align-items: center; */
}

.prof {
  /* flex-wrap: wrap; */
  text-align: center;
  background-color: #4f7698af;
  padding: 50px 10px 50px 10px;
  border-radius: 8px;
}

.nom-prof {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 12px;
}

#parallelogram {
  border-radius: 8px;
  transition: 0.5s;
  margin-left: 20px;
  width: 290px;
  min-height: 180px;
  max-height: 300px;
  margin-bottom: 18px;
  transform: rotate(-2.5deg);
}

#parallelogram:hover {
  border-radius: 8px;
  transition: 0.5s;
  margin-left: 20px;
  width: 290px;
  min-height: 180px;
  max-height: 300px;
  margin-bottom: 18px;
  transform: rotate(1deg);
}

.voir-matieres {
  margin: 30px auto 30px auto;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  border-radius: 13px;
  color: white;
  width: fit-content;
  background-color: #4f7698af;
  padding: 8px 45px 8px 45px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 25px;
  border: white solid 1px;
}

.voir-matieres:hover {
  transform: translate(-2px, -2px);
  background-color: #6e9cc5;
  transition: 0.5s;
}

/*Footer*/

.container-liens {
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-around;
  text-align: center;
  background-color: #163652;
}

.titre-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.container-copyright {
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
}

@media screen and (max-width: 1330px) {
  .container-profs {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1190px) {
  .center {
    gap: 20px;
  }
}
@media screen and (max-width: 690px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .list-style {
    display: flex;
    /* margin: 60px; */
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .center li {
    width: 100%;
  }
  .center li a {
    width: auto;
  }
}
.logo-nav {
  /* width: 50%; */
}
@media screen and (max-width: 550px) {
  /*Header*/
  .container-flex {
    flex-direction: column;
  }

  .space-around {
    align-items: center;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .logo-nav {
    /* width: 20%; */
    float: left;
    /* margin-left: -400%; */
    /* margin-bottom: -100px; */
  }

  .btn-english-nav {
    width: 25px;
    /* height: 25px; */
    margin-top: 10px;
  }
  .btn-french-nav {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }

  .menu li {
    width: 150px;
    font-size: 0.7rem;
    text-align: center;
  }

  .header-polygone {
    width: 300px;
  }

  /*Equipe*/
  .container-profs {
    /* margin: 0px 204px 0px 204px; */
  }

  .prof {
    margin-right: 20px;
    padding: 50px 10px 50px 10px;
    margin-bottom: 30px;
  }

  .desc-prof {
    font-size: 0.9rem;
  }

  .nom-prof {
    margin-bottom: 8px;
    font-size: 1.1rem;
  }

  #parallelogram {
    margin-left: 10px;
    width: 230px;
    min-height: 120px;
    max-height: 240px;
    margin-bottom: 12px;
    transform: rotate(-2.5deg);
  }

  #parallelogram:hover {
    margin-left: 0px;
    width: 250px;
    min-height: 140px;
    max-height: 260px;
    margin-bottom: 12px;
    transform: rotate(0deg);
  }

  .voir-matieres {
    margin: 30px auto 30px auto;
    font-size: 1rem;
    color: white;
    width: fit-content;
    padding: 8px 45px 8px 45px;
  }

  /*Footer*/

  .container-liens {
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .titre-footer {
    font-size: 0.7rem;
    margin-bottom: -10px;
  }

  .text-footer {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .container-copyright {
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.5rem;
  }
}

.chiffres {
  margin-top: 15px;
  font-size: 5rem;
  text-align: right;
  margin-bottom: 80px;
  color: transparent;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #4d2465 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.shadow {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 25px !important;
}

.header-polygone {
  width: 40%;
}

.sous-titre-header {
  z-index: 10;
  margin-bottom: 15px;
  font-size: 4vw;
}

.texte-header {
  z-index: 10;
  margin-bottom: 50px;
  font-size: 2.5vw;
}

.btn-header {
  z-index: 10;
  font-size: 1vw;
  margin-top: -20px;
  margin-bottom: 10px;
}

.all-btn-header {
  flex-direction: row;
}

.index-octogon {
  margin: 0;
  width: 45vw;
  -webkit-filter: drop-shadow(10px 0px 50px #000000);
  filter: drop-shadow(10px 0px 50px #000000); /* width: 37%; */
  object-fit: contain;
  /* height: 100vh; */
}

@media (max-width: 1250px) {
  .index-octogon {
    object-fit: contain;
    width: 40vw;
  }
}
@media (max-width: 550px) {
  .index-octogon {
    width: 75vw;
    margin-top: 50vh;
    transform: translate(0, -50%);
    position: absolute;
    object-fit: contain;
    opacity: 0.25;
  }
  .titre-header {
    margin-left: 2vw;
    font-size: 17vw;
  }
  .sous-titre-header {
    margin-left: 2vw;
    font-size: 10vw;
  }
  .texte-header {
    margin-left: 2vw;
    font-size: 5vw;
  }
  .all-btn-header {
    margin-left: 2vw;
  }
  .btn-header {
    font-size: 2.5vw;
  }
}
.grid {
  height: 100%;
  width: 100%;
  margin: 0;
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
}
